In [19]:
import pandas as pd

# Dictionary of data
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# DataFrame
df = pd.DataFrame(data)

print(df)

    Name  Age         City
0   John   25     New York
1  Alice   30  Los Angeles
2    Bob   22      Chicago

In [20]:
# Data
data = [
    ['John', 25, 'New York'],
    ['Alice', 30, 'Los Angeles'],
    ['Bob', 22, 'Chicago']
]

# Column names
columns = ['Name', 'Age', 'City']

# DataFrame
df = pd.DataFrame(data, columns=columns)

print(df)

    Name  Age         City
0   John   25     New York
1  Alice   30  Los Angeles
2    Bob   22      Chicago

In [21]:
# Load data from CSV file
df = pd.read_csv('annual-enterprise-survey-2023-financial-year-provisional.csv')

print(df)

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2023                     Level 1                99999
1      2023                     Level 1                99999
2      2023                     Level 1                99999
3      2023                     Level 1                99999
4      2023                     Level 1                99999
...     ...                         ...                  ...
50980  2013                     Level 3                 ZZ11
50981  2013                     Level 3                 ZZ11
50982  2013                     Level 3                 ZZ11
50983  2013                     Level 3                 ZZ11
50984  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           H01
1                  All industries  Dollars (millions)           H04
2                  All industries  Dollars (millions)           H05
3                  All industries  Dollars (millions)           H07
4                  All industries  Dollars (millions)           H08
...                           ...                 ...           ...
50980  Food product manufacturing          Percentage           H37
50981  Food product manufacturing          Percentage           H38
50982  Food product manufacturing          Percentage           H39
50983  Food product manufacturing          Percentage           H40
50984  Food product manufacturing          Percentage           H41

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
50980                                      Quick ratio       Financial ratios
50981              Margin on sales of goods for resale       Financial ratios
50982                                 Return on equity       Financial ratios
50983                           Return on total assets       Financial ratios
50984                            Liabilities structure       Financial ratios

        Value                             Industry_code_ANZSIC06
0      930995  ANZSIC06 divisions A-S (excluding classes K633...
1      821630  ANZSIC06 divisions A-S (excluding classes K633...
2       84354  ANZSIC06 divisions A-S (excluding classes K633...
3       25010  ANZSIC06 divisions A-S (excluding classes K633...
4      832964  ANZSIC06 divisions A-S (excluding classes K633...
...       ...                                                ...
50980      52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50981      40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50982      12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50983       5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50984      46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[50985 rows x 10 columns]

In [22]:
import numpy as np
# Data
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Column names
columns = ['A', 'B', 'C']

# DataFrame
df = pd.DataFrame(data, columns=columns)

print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
# Data
data = {
    'Subject': ['Math', 'Physics', 'Chemistry'],
    'Marks': [95, 89, 92]
}

# Custom Index
df = pd.DataFrame(data, index=['Student1', 'Student2', 'Student3'])

print(df)

            Subject  Marks
Student1       Math     95
Student2    Physics     89
Student3  Chemistry     92

In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.impute import SimpleImputer

data = {
      'Age': [22,np.nan,24,30,25]
      'Salary' : [50000 , 60000, np.nan , 70000 , 65000]
      'Country' : ['USA' , 'Canada' , 'USA' , 'Canada', np.nan]
      'Gender' : ['Male' , 'Female' , 'Male' , 'Female' , 'Female']
       }

In [25]:
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
     Subject  Marks
0       Math     95
1    Physics     89
2  Chemistry     92